nginx/
.devcontainer/
.vscode/


# docker files
Dockerfile
Dockerfile.prod
docker-compose.prod.yml
docker.compose.yml

# readme
README.md
LICENSE
# git
.git
.gitattributes
.gitignore
.github

evaluation/