langchain
langchain-community
langchain_experimental
sentence-transformers===3.0.1
tk===0.1.0
pypdf===4.0.1
langchain-openai
pypdf===4.0.1
PyPDF2===3.0.1
fastembed===0.2.1
streamlit===1.39.0
pydantic-settings
matplotlib
streamlit-feedback
langchain-milvus
langgraph
ipython
tqdm
# milvus-cli
pymilvus
pandas
seaborn
numpy
crawl4AI===0.6.3
ragas
redis
nest_asyncio
langchain-ollama